body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.animbox {
    position: absolute;
    top: 10em;
    left: 10em;
    width: 20em;
    height: 20em;
    background: red;
    animation-duration: 4s;
    animation-name: anim-box;
    animation-iteration-count: 1;
    animation-direction: normal;
}


@keyframes anim-box {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(359deg);
    }
}

